body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

h1 {
    color: #333;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table thead {
    border-bottom: 2px solid black;
}

.table td, .table th {
    text-align: center;
    vertical-align: middle;
}

.table tbody tr:nth-child(2n) {
    background-color: lightgray;
}

.btn {
    --primary-color: rgb(14, 91, 233);
    --light-color: rgb(74, 132, 240);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0px 12px;
    height: 48px;
    font-size: 12pt;
    color: white;
    border: 0px;
    background-color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    outline: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
}

.btn:active {
    background-color: rgb(74, 132, 240);
    color: black;
}

.btn.red {
    --primary-color: rgb(224, 41, 41);
    --light-color: rgb(218, 68, 68);
}

.hidden {
    display: none;
}